@import '../../foundations/theme.css';

.terraProgressBar {
  overflow: hidden;
  width: 100%;
  height: 10px;
  border-radius: 999px;
  background: #ededed;
}

.terraProgressBar__fill {
  display: block;
  height: 100%;
  border-radius: inherit;
  background: #ededed;
}

.terraProgressBar--bar1,
.terraProgressBar--bar2 {
  height: 14px;
}

.terraProgressBar--bar1 .terraProgressBar__fill {
  background: #0092e6;
}

.terraProgressBar--bar2 .terraProgressBar__fill {
  background: #027479;
}
